
{% load static %}
{% load crispy_forms_tags %}
{% include 'task/inc/head.inc.html' %}

    
<body class="sb-nav-fixed">
    {% include 'task/inc/navbar.inc.html' %}

    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            {% include 'task/inc/sidebar.inc.html' %}
        </div>

        <div id="layoutSidenav_content" style="overflow: hidden;">
            <div class="row">
                <div class="col-lg-12">
                    <div class="container-fluid">
                        {% if query_to_show %}
                            <h2 class="mt-2">Search results for <b class="text-primary">"{{ query_to_show }}"</b></h2>
                        {% else %}
                            <div class="d-flex align-items-center">
                            
                                <div class="pt-3 mr-3 py-0">
                                    <div class="card radius-10 py-0">
                                        <!--tips: add .text-center,.text-right to the .card to change card text alignment-->
                                        <div class="card-body py-2 px-3 profile-card">
                                            <h6 class="my-0 mb-2 card-title">Account:</h6>
                                            <h6 class="my-0">
                                                <b class="text-primary">
                                                    {% if my_customer %}
                                                        {{my_customer}}
                                                    {% else %}
                                                        Personal
                                                    {% endif %}
                                                </b>
                                            </h6>
                                           
                                        </div>
                                    </div>
                                </div>

                                {% if my_customer %}

                                {% for data in my_customer.all_data %}

                                <div class="pt-3 mr-3">
                                    <div class="card radius-10">
                                        <!--tips: add .text-center,.text-right to the .card to change card text alignment-->
                                        <div class="card-body py-2 px-3 profile-card">
                                            <h6 class="my-0 mb-2 card-title">{{ data.field.titleName }}:</h6>
                                            <h6 class="my-0"><b class="text-primary">{{ data.get_value }}</b></h6>
                                           
                                        </div>
                                    </div>
                                </div>

                                {% endfor %}

                

                                {% endif %}
                               
                            </div>
                          
                        {% endif %}
                        <hr class="mb-2">

                        <div class="row">
                            <div class="col-sm-6 py-2">
                                {% include 'task/inc/task-section.inc.html' %}
                            </div>

                            <div class="col-sm-6 py-2">

                                <div class="border d-flex align-items-center px-3" style="height:50px; background-color: #eeeeee; border-radius: 10px 10px 0px 0px;">
                                    <h5 class="my-0"  style="width: 50%;">Notes list</h5>

                                    {% if not customer_section %}
                                        <div class="form-group my-0 justify-content-end d-flex" style="width: 50%;">
                                            <i class="material-icons myIcon text-primary bg-white mk-pointer ml-2 my-0 p-1" data-toggle="collapse" data-target="#new-note-form" title="Add note">note_add</i>
                                        </div>
                                        
                                    {% endif %}
                                   
                                    
                                </div>
                                
                                <div class="border radius-10 p-2" style="border-radius: 0px 0px 10px 10px;">
                                    
                                    {% for message in messages %}
                                        {% if message.tags == 'error' %}
                                            <div class="alert alert-success text-center" id="added-note-message" role="alert">
                                                {{ message }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}


                                    {% if not all_notes %}
                                        <div class="alert alert-warning text-center" role="alert">
                                            Jot it down here!
                                        </div>
                                    {% endif %}

                                    <div class="alert text-center" id="note-main-message" style="display: none;" role="alert"></div>

                                    <div class="mb-3 radius-10 collapse" id="new-note-form" style="border: solid 2px #0275d8;">
                                        <form method="POST" id="task-form">
                                            {% csrf_token %}
                                            <div class="py-2 px-3 d-flex align-items-center" style="background-color: #f7f7f7; border-radius: 10px 10px 0px 0px;">
                                                <h5 class="my-0"  style="width: 50%;">New note</h5>
                                                
                                            </div>

                                            <div class="p-3" style="border-radius: 0px 0px 10px 10px;">
                                                <div class="row">
                                                    <div class="col-sm-10">
                                                        <div class="form-group my-0">
                                                            <textarea class="form-control my-0"  name="newNote" rows="13"  placeholder="Type here..." required></textarea>
                                                        </div>
                                                    </div>
        
                                                    <div class="col-sm-2">
                                                        <button type="submit" class="btn btn-block btn-primary">Add</button>
                                                    </div>
        
                                                    
                                                </div>
                                            </div>

                                        </form>


                                    </div>
                                    
                                    <div style="max-height: 68vh; overflow: auto;" class="px-2 py-1">

                                        {% for note in all_notes %}

                                        <div class="google-box py-1 px-3 mb-3">
                                            <div class="row">
                                                <div class="col-sm-7 d-flex align-items-center">
                                                    <h6 class="text-muted my-0"><b>Created on:</b> {{ note.created_on.date }} </h6>
                                                    <div style="display: none;" id="saved-note-{{ note.id }}">
                                                        <span class="mylabel completed-label d-flex mx-3 align-items-center">
                                                            <i class="material-icons mx-0 mr-1 px-0" style="font-size: 20px;">done</i>
                                                            SAVED
                                                        </span>
                                                    </div>

                                                </div>
                                             
                                                <div class="col-sm-5 d-flex justify-content-end align-items-center">
                                                    <div class="spinner-border spinner-border-sm text-primary" id="spinnernote_{{note.id}}" style="display: none;"></div>
                                                    <i class="material-icons myIcon text-success mk-pointer ml-2 my-0 p-1 myIcon2 mt-1 editinginput-icon" id="edit-note-{{ note.id }}">edit</i>
                                                    <i class="material-icons myIcon text-danger mk-pointer mt-1 ml-2 my-0 p-1 operation-note myIcon2" id="delete_{{ note.id }}">delete</i>
                                                </div>
                                                <!-- <div style="width: 50%;" class="text-right"> -->
                                                <!-- </div> -->

                                            </div>
                                            <!-- <small>12, March 2020</small> -->
                                            <div class="row mt-0 py-0 my-0">
                                                
                                                <div class="col-sm-12 col-12 d-flex align-items-center">


                                                    <textarea class="form-control mb-2 mt-2 mx-0 editinginput-icon mx-2" rows="6"  onfocusout="save_changes()" id="editinginput-note-{{ note.id }}" style="display: none;" placeholder="Type here..." type="text">
                                                       {{ note.note_text }}
                                                    </textarea>

                                                    <p class="m-0"  id="text-note-{{ note.id }}" style="font-size: 16px; line-height: 26px;">
                                                        {{ note.text_with_line | safe }}
                                                    </p>
                                                </div>
                                        
                                            </div>

                                           


                                            {% if customer_section %}
            
                                                <!-- <hr class="my-1"> -->
                                                <div class="text-right">
                                                    {% if note.added_for %}
                                                        Customer: <b>{{ note.added_for }}</b>
                                                    {% else %}
                                                        <b>Personal</b>
                                                    {% endif %}
                                                </div>
                                            
                                            {% endif %}
                                            
                                        </div>

                                        {% endfor %}

                                    </div>

                                    
                                    
                                </div>
                                
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="modal" tabindex="-1" role="dialog" id="customerModel">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title">Add customer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body p-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="exampleValue" id="exampleInput">
                        <label class="form-check-label" for="exampleInput">
                            Example label
                        </label>
                    </div>

                    <form method="post" >
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="exampleInput">Example label</label>
                            <input type="text" class="form-control" id="exampleInput" placeholder="Example input placeholder">
                        </div>

                        <input type="submit" value="submit" class="btn btn-sm btn-success ">
                    </form>
                
                
                </div>
            
            </div>
            </div>
        </div>
        
    </div>
    
    {% include 'task/inc/bottomLinks.inc.html' %}
</body>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
    
    $(".operation-note").on("click", function () {
        let clicked_id = this.id.split("_");
        let operation = clicked_id[0];
        let number = parseInt(clicked_id[1]);

        if (confirm(`Are you sure, you want to ${operation} this note?`)) {
            $.ajax({
                url: "{% url 'operation-note' %}",
                type: 'GET',
                data: {
                    'sign': operation,
                    'id': number
                },
                success: (response)=>{
                    $("#note-main-message").css('display', '');
                    $("#note-main-message").removeClass('alert-success');
                    $("#note-main-message").removeClass('alert-danger');

                    if (response.status) {
                        $("#note-main-message").addClass('alert-success');
                    }else{
                        $("#note-main-message").addClass('alert-danger');
                    }

                    $("#note-main-message").text(response.message);

                    
                    $(`#spinnernote_${number}`).css('display', '');

                    if (response.status) {
                        setTimeout(function () {
                            location.reload();
                        }, 500);
                    }
                }
            })
        }

    });


</script>

</html>

<script src="{% static 'task/js/edit.js' %}"></script>