<div class="border d-flex align-items-center px-3" style="height:50px; background-color: #eeeeee; border-radius: 10px 10px 0px 0px;">
    <h5 class="my-0"  style="width: 50%;">Tasks list</h5>
    <div class="form-group my-0 justify-content-end d-flex" style="width: 50%;">
        {% if all_tasks %}

        <select class="form-control" id="task-filter" style="width: fit-content;">
            <option value="all">All tasks</option>
            <option value="complete">Completed tasks</option>
            <option value="late">Late tasks</option>
            <option value="ongoing">Open</option>
        </select>
        {% endif %}

        {% if not customer_section %}
            <i class="material-icons myIcon text-primary bg-white mk-pointer ml-2 my-0 p-1" data-toggle="collapse" data-target="#new-task-form" title="Add task">add_task</i>
        {% endif %}

    </div>

    
</div>

<div class="border radius-10 p-2" style="border-radius: 0px 0px 10px 10px;">
    
    {% for message in messages %}
        {% if message.tags == 'info' %}
            <div class="alert alert-success text-center" id="added-task-message" role="alert">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}


    {% if not all_tasks %}
        <div class="alert alert-warning text-center" role="alert">
            What’s next?
        </div>
    {% endif %}

    <div class="alert text-center" id="task-main-message" style="display: none;" role="alert"></div>

    <div class="mb-3 radius-10 collapse" id="new-task-form" style="border: solid 2px #0275d8;">
        <form method="POST" id="task-form">
            {% csrf_token %}
            <div class="py-2 px-3 d-flex align-items-center" style="background-color: #f7f7f7; border-radius: 10px 10px 0px 0px;">
                <h5 class="my-0"  style="width: 50%;">New task</h5>
                <div class="form-group my-0 justify-content-end align-items-center d-flex" style="width: 50%;">
                    <small>Due on</small>

                    <div class="ml-2">
                        <input type="date" id="dueOn" class="form-control" style="width: fit-content;" name="dueOn">
                    </div>
                </div>
            </div>

            <div class="p-3" style="border-radius: 0px 0px 10px 10px;">
                <div class="row">
                    <div class="col-sm-10">
                        <div class="form-group my-0">
                            <input class="form-control my-0" type="text" name="newTask" id="newTask" placeholder="Type here..." required>
                            <small id="task-error" class="text-danger"></small>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-block btn-primary">Add</button>
                    </div>

                    
                </div>
            </div>

        </form>


    </div>
    
    <div style="max-height: 68vh; overflow: auto;" class="px-2 py-1">
    
        {% for task in all_tasks %}

        <div class="google-box py-1 px-3 mb-3 my-any-task {{ task.get_status.box_class }}">
            <div class="d-flex my-0 align-items-center">
                <div class="row" style="width: 70%;">
                    <div class="col-sm-12 d-flex align-items-center">
                        <h6 class="text-muted my-0"><b>Due on:</b> {% if today == task.due_date %}Today{% else %}{{ task.due_date }}{% endif %}</h6>
                        <div id="saved-task-{{ task.id }}" style="display: none;">
                            <span class="mylabel completed-label mx-3 d-flex mx-1 align-items-center">
                                <i class="material-icons mx-0 mr-1 px-0" style="font-size: 20px;">done</i>
                                SAVED
                            </span>
                        </div>
                    </div>
                </div>
               
                <div style="width: 30%;" class="text-right">
                    <div class="spinner-border spinner-border-sm text-primary" id="spinner_{{task.id}}" style="display: none;"></div>
                    <span class="mylabel {{ task.get_status.class_name }}" id="label_{{ task.id }}">{{ task.get_status.wording }}</span>
                </div>
                

                {% if task.status != 1 %}
                    <i class="material-icons myIcon text-success mk-pointer ml-2 my-0 p-1 myIcon2 mt-1 editinginput-icon" id="edit-task-{{ task.id }}">edit</i>
                {% endif %}

                <i class="material-icons myIcon text-danger mk-pointer ml-2 my-0 operation p-1 myIcon2 mt-1" id="delete_{{ task.id }}">delete</i>

            </div>

            <div class="row mt-0 p-1 pt-0">
                <div class="col-sm-12 d-flex px-0 py-0 align-items-center">
                    {% if task.status == 1 %}
                    <i class="material-icons mk-pointer radius-100 operation task-completed mx-2" title="Completed"  id="incomplete_{{ task.id }}">check_box</i>
                    {% else %}
                    <i class="material-icons mk-pointer radius-100 operation operation-complete mx-2" id="complete_{{ task.id }}">check_box_outline_blank</i>
                    {% endif %}

                    {% if task.status != 1 %}
                        <input class="form-control editinginput-icon mx-2 py-0" onfocusout="save_changes()" id="editinginput-task-{{ task.id }}" value="{{ task.task_text }}" style="display: none;" placeholder="Type here..." type="text">
                    {% endif %}
        
                    <p class="mx-2 mr-3 my-0" style="font-size: 16px;" id="text-task-{{ task.id }}">
                        {% if task.status == 1 %}
                            <del>{{ task.task_text }}</del>
                        {% else %}
                            {{ task.task_text }}
                        {% endif %}
                    </p>
                </div>
            
            </div>

            {% if customer_section %}
            
                <!-- <hr class="my-1"> -->
                <div class="text-right">
                    {% if task.added_for %}
                        Customer: <b>{{ task.added_for }}</b>
                    {% else %}
                        <b>Personal</b>
                    {% endif %}
                </div>
            
            {% endif %}
        </div>

        {% endfor %}

    </div>
 
    
</div>


<script>
    setTimeout(function () {
        $("#added-task-message").remove();
        $("#added-note-message").remove();
    }, 4000);

    function show_error() {
        var given_date = new Date(document.getElementById('dueOn').value);
        var today = new Date();
        if (given_date.getTime() < today.getTime()) {
            $("#task-error").text("Past date can't be selected!");
            return false;
        }else{
            $("#task-error").text("");
            return true
        }
    }

    $("#newTask").on("keyup", function () {
        console.log($(this).val());
        sessionStorage.setItem("task", $(this).val()); 
    });

    let my_saved_task = sessionStorage.getItem("task");

    if (my_saved_task && my_saved_task.length > 0) {
        $("#newTask").val(my_saved_task);
        $("#new-task-form").addClass("show");
    }

    
    $("#task-form").on("submit", function () {
        sessionStorage.setItem("task", ""); 
        return true;
    });

    $("#dueOn").on('change', function () {
        show_error();
    });

    $("#task-form").on('submit', function () {
        return show_error();
    });

    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }

    $(".operation").on("click", function () {
        let clicked_id = this.id.split("_");
        let operation = clicked_id[0];
        let number = parseInt(clicked_id[1]);

        if (operation == "delete" && !(confirm(`Are you sure you want to ${operation} this task?`))) {
            return false;
        }

        if (true) {
            $.ajax({
                url: "{% url 'operation' %}",
                type: 'GET',
                data: {
                    'sign': operation,
                    'id': number
                },
                success: (response)=>{
                    $("#task-main-message").css('display', '');
                    $("#task-main-message").removeClass('alert-success');
                    $("#task-main-message").removeClass('alert-danger');

                    if (response.status) {
                        $("#task-main-message").addClass('alert-success');
                    }else{
                        $("#task-main-message").addClass('alert-danger');
                    }

                    $("#task-main-message").text(response.message);

                    if (operation == 'complete') {
                        $(`#${clicked_id.join('_')}`).addClass('task-completed');
                        $(`#${clicked_id.join('_')}`).text('check_box');
                    }
                    
                    if (operation == "incomplete") {
                        $(`#${clicked_id.join('_')}`).removeClass('task-completed');
                        $(`#${clicked_id.join('_')}`).addClass('operation-complete');
                        $(`#${clicked_id.join('_')}`).text('check_box_outline_blank');
                    }
                    
                    $(`#spinner_${number}`).css('display', '');
                    $(`#label_${number}`).css('display', 'none');

                    if (response.status) {
                        setTimeout(function () {
                            location.reload();
                        }, 500);
                    }
                }
            })
        }

    });

    $("#task-filter").on('change', function () {
        let selected_option = $("#task-filter").val();

        $(".my-any-task.ongoing, .my-any-task.complete, .my-any-task.late").hide();

        if (selected_option == "all") {
            $("div.my-any-task.ongoing, .complete, .late").show();

            if ($(`div.my-any-task:visible`).length < 1 ) {
                $("#task-main-message").css('display', '');
                $("#task-main-message").addClass('alert-warning');
                $("#task-main-message").text(`What's next!`);
            }else{
                $("#task-main-message").css('display', 'none');
                $("#task-main-message").removeClass('alert-warning');
            }
        }else{
            $(`.${selected_option}`).show();

            if ($(`.${selected_option}:visible`).length < 1 ) {
                $("#task-main-message").css('display', '');
                $("#task-main-message").addClass('alert-warning');
                $("#task-main-message").text(`No ${selected_option} task exists!`);
            }else{
                $("#task-main-message").css('display', 'none');
                $("#task-main-message").removeClass('alert-warning');
            }
        }

        console.log(selected_option);

    });


</script>


